body
{
    font-family: Cambria, Times New Roman, Times, serif;
    font-size: 11pt;
    background-color: white;
}

#main
{
    position: absolute;
    top: 5px;
    left: 200px;
    margin: 5px;
    padding: 10px;
    background-color: #eaeff4;
}

#sidebar
{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    margin: 5px;
    padding: 0px;
    color: #000000;
    background-color: #ddddff;
    overflow: hidden;
}

ul#menu
{
    margin: 8px 4px;
    padding: 0px;
}

ul#menu li
{
    margin: 0px;
    padding: 3px;
}

ul#menu a:hover
{
}

ul#menu a:link, #sidebar a:visited, #sidebar a:active
{
}

table, th
{
    font-family: Consolas, Courier, monospace;
    font-size: 9pt;
}

td
{
    font-size: 8pt;
}

big
{
    font-family: Cambria, Times New Roman, Times, serif;
    font-size: 10pt;
}

a, a:active, a:visited
{
    color: #0000ff;
    text-decoration: none;
}

a:hover
{
    color: white;
    background-color: #0000a0;
    text-decoration: none;
}
